* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
}
.signin-btn {
  background-color: #21b573;
  border: none;
  border-radius: 33px;
  padding: 2px 12px;
}
.signin-btn a {
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.top-text {
  color: #fd511a;
  font-size: 16px;
}
.heading {
  font-size: 48px;
  font-weight: bold;
}
.h2-color {
  color: #21b573;
}
.start-btn {
  background-color: #21b573;
  border: none;
  border-radius: 33px;
  padding: 10px 30px;
  color: white;
  font-weight: 700;
  font-size: 18px;
}
.card-width {
  width: 270px;
  height: 270px;
  background-color: #f8fffb;
}
.shadow {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
.card-width img {
  width: 30%;
  padding: 10px;
}
